extends layout

block content
  .jumbotron
    h1 BufferBasedRouting
    p.lead Simple Buffer based Routing using Distance Formula.
    p
      Made with 
      a.btn.btn-primary.btn-large(href='http://expressjs.com/') Learn more &raquo;